{
    "things": {
        "camera": {
            "class": "openflexure_microscope_server.things.camera.imx500:IMX500Camera",
            "kwargs": {
                "model_path": "/usr/share/imx500-models/imx500_network_mobilenet_v2.rpk"
            }
        },
        "stage": "openflexure_microscope_server.things.stage.dummy:DummyStage",
        "autofocus": "openflexure_microscope_server.things.autofocus:AutofocusThing",
        "camera_stage_mapping": "openflexure_microscope_server.things.camera_stage_mapping:CameraStageMapper",
        "system": "openflexure_microscope_server.things.system:OpenFlexureSystem",
        "smart_scan": {
            "class": "openflexure_microscope_server.things.smart_scan:SmartScanThing",
            "kwargs": {
                "scans_folder": "/var/openflexure/scans/",
                "default_workflow": "histo_scan_workflow"
            }
        },
        "histo_scan_workflow": "openflexure_microscope_server.things.scan_workflows:HistoScanWorkflow",
        "snake_workflow": "openflexure_microscope_server.things.scan_workflows:SnakeWorkflow",
        "raster_workflow": "openflexure_microscope_server.things.scan_workflows:RasterWorkflow",
        "bg_color_channels_luv": "openflexure_microscope_server.things.background_detect:ColourChannelDetectLUV",
        "bg_channel_deviations_luv": "openflexure_microscope_server.things.background_detect:ChannelDeviationLUV"
    },
    "settings_folder": "/var/openflexure/settings/",
    "log_folder": "/var/openflexure/logs/"
}
