[Unit]
Description=OpenFlexure Microscope Server
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory=/opt/openflexure/server
ExecStart=/opt/openflexure/venv/bin/openflexure-microscope-server --fallback -c /var/openflexure/settings/ofm_config.json --host 0.0.0.0 --port 5000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
